{# src/Posdta/Bundle/SiteBundle/Resources/views/Reader/readPublication.html.twig #}
<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>
	{% image '../app/Resources/public/img/favicon.png' %}
	<link rel="shortcut icon" href="{{ asset_url }}">
	{% endimage %}
	
	{% javascripts
		'../app/Resources/public/js/monocore.js' 
		'../app/Resources/public/js/monoctrl.js' 
		'../app/Resources/public/js/errorHandling.js' 
		'../app/Resources/public/js/jquery-1.11.0.min.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
	{% stylesheets 
		'../app/Resources/public/css/monocore.css' 
		'../app/Resources/public/css/monoctrl.css'  
		'../app/Resources/public/css/bootstrap.min.css'  
		'../app/Resources/public/css/starter-template.css' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	
	<style>
		#reader { position: absolute; width: 100%; height: 100%; border: 1px solid #000;}
	</style>
</head>
<script type="text/javascript" >
var componentUrlBase = "{{ path('reader_components', {'componentId':'componentId'}) }}";
//alert(componentUrl);

$(document).ready(function(){

});

var bookData = {
  getComponents: function () {
    return [
      {% for component in publication.components %}
		{% if not loop.last %}
			'{{ component.id }}',
		{% else %}
			'{{ component.id }}'
		{% endif %}
      {% endfor %}
    ];
  },
  getContents: function () {
    return [
      {
        title: 'Chapter 1',
        src: 'component1.xhtml'
      },
      {
        title: 'Chapter 2',
        src: 'component3.xhtml'
      }
    ]
  },
  getComponent: function (componentId) {
    return getBookComponent(componentId);
  },
  getMetaData: function(key) {
    return {
      title: 'A book',
      creator: 'Inventive Labs'
    }[key];
  }
};

function getBookComponent(componentId) {
	componentUrl = componentUrlBase.replace('componentId',componentId);
	var response = $.ajax({
		type: "GET",
		url: componentUrl,
		error:function(xhr, status, text){
			displayErrorByCode(xhr.status);
		},
		async: false
	}).responseText;
	return response;
}

</script>
<body>
	<div class="navbar-xs navbar-inverse navbar-fixed-top logo-bar" id="logo-bar" role="navigation">
      <div class="container">
          			<a class="menu-link" href="#" id="show-menu">Menu</a>
      </div>
    </div>
    <div class="menu-container top-padding" id="main-menu">
    <div class="menu-logo-div"><img id="left-logo" class="logo" src="img/logo.png" height="30px"></div>
    <div class="menu-search-div">
            <input type="text" class="form-control search-bar-custom" placeholder="Buscar..." name="srch-term" id="srch-term">
    </div>
    <div class="menu-div">Perfil</div>
    <div class="menu-div">Mis libros</div>
    <div class="menu-div">Social</div>
    <div class="menu-div">Logout</div>
    </div>
    <div class="container-full">
		<div id="monocle-class">
			<div id="reader">
			</div>
		</div>
		<script>Monocle.Reader('reader', bookData/*, {}, function(reader) {/*reader.moveTo({ page: 3});}*/);</script>
	</div>
	
	{% javascripts
		'../app/Resources/public/js/script.js' 
		'../app/Resources/public/js/bootstrap.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
</body>

</html>
